
[core]
displayText_zh:秘法宝典
displayDescription_zh:+40技能强度 \n+40技能急速 \n\n-----唯一被动-----\n超载: 降低全技能1秒冷却 (在技能急速后计算)


[core]
displayText_ru: Кодекс Арканы
displayDescription_ru: +40 к силе умений \n+40 к скорости умений \n\n-----Уникальный пассив-----\nПерегрузка: Снижает время перезарядки всех умений на 1 сек (после учёта скорости умений)
