
[core]
displayText_zh:霜封宝珠
displayDescription_zh:+500魔力值\n +10魔力恢复\n\n-----唯一被动-----\n魔力盾: 获得一个相当于50%你的魔力值的盾。 当你的魔力值为满时, 盾将会基于你的魔力恢复速度进行恢复


[core]
displayText_ru: Ледяная сфера
displayDescription_ru: +500 к мане\n +10 к восстановлению маны\n\n-----Уникальный пассив-----\nМагический щит: Создаёт щит равный 50% вашей маны. При полной мане щит восстанавливается со скоростью вашего восстановления маны

