
[core]
displayText_zh:金蛇指环
displayDescription_zh:+40技能强度 \n+10技能急速 \n+300魔力值 \n+2魔力恢复 \n\n-----唯一被动-----\n点石成金 (主动): 将自己化为金身，无法移动，期间免疫一切伤害且无法被选中为目标，持续1秒(冷却时间150秒，消耗300魔力)\n(冷却时间内可继续使用，但每次使用将使魔力消耗翻倍)


[core]
displayText_ru: Золотое змеиное кольцо
displayDescription_ru: +40 к силе умений \n+10 к скорости умений \n+300 к мане \n+2 к восстановлению маны \n\n-----Уникальный пассив-----\nЗолотое прикосновение (Актив): Превращает в золотую статую на 1 сек, давая неуязвимость и иммунитет к выбору цели (Перезарядка: 150 сек, расход: 300 маны)\n(При использовании во время перезарядки расход маны удваивается)

