
[core]
displayText_zh:永恒魔典
displayDescription_zh:+165技能强度 \n\n-----唯一被动-----\n永恒: 提升45%的总技能强度


[core]
displayText_ru: Гримуар Вечности
displayDescription_ru: +165 к силе умений \n\n-----Уникальный пассив-----\nБессмертие: Общая сила умений увеличена на 45%