
[core]
displayText_zh:炼狱权杖
displayDescription_zh:+70技能强度 \n+10技能急速\n+20移动速度\n\n-----唯一被动-----\n吞噬火焰: 获得10%的技能吸血


[core]
displayText_ru: Скипетр преисподней
displayDescription_ru: +70 к силе умений \n+10 к скорости умений\n+20 к скорости передвижения\n\n-----Уникальный пассив-----\nПожирающее пламя: +10% вампиризма умений