[core]
displayText_zh:钢铁战靴
displayDescription_zh:+100最大生命值\n+1防御力\n+40移动速度\n\n-----唯一被动-----\n堡垒护卫 (主动): 激活后获得一个护盾，护盾值为50-900 (+10% 最大生命值), 持续5秒 (冷却时间90秒)

[core]
displayText_ru: Стальные боевые сапоги
displayDescription_ru: +100 к макс. здоровью\n+1 к защите\n+40 к скорости передвижения\n\n-----Уникальный пассив-----\nКрепостной страж (Актив): Создает щит на 50-900 (+10% от макс. здоровья) на 5 сек. (Перезарядка: 90 сек.)