[core]
displayText_zh:神秘之靴
displayDescription_zh:+10技能急速\n+45移动速度\n\n-----唯一被动-----\n洞穿: 技能对低护甲的单位造成更高的伤害

[core]
displayText_ru: Мистические сандалии
displayDescription_ru: +10 к скорости умений\n+45 к скорости передвижения\n\n-----Уникальный пассив-----\nПробивание: Умения наносят повышенный урон целям с низкой защитой
