[core]
displayText_zh:速度之靴
displayDescription_zh:+55移动速度\n\n-----唯一被动-----\n冲刺: 提升10%的移动速度

[core]
displayText_ru: Ботинки скорости
displayDescription_ru: +55 к скорости передвижения\n\n-----Уникальный пассив-----\nРывок: Увеличивает скорость передвижения на 10%
