#--------------Chinese Localization--------------
[core]
displayText_zh: 紫晶弓手
displayDescription_zh:来自深渊的弓箭手

#--------------Attack & Skills--------------
[action_basicAttack]
text_zh:普通攻击
description_zh:"""
普通攻击造成%{${baseAttack1}}% (%{self.resource.AttackPower + ((self.resource.Level-1)*${attackPowerPerLevel}) })点伤害, 每次普通攻击将增加自身8%的攻击速度, 可叠加5层。满层时, 每次普通攻击会发射额外一支箭矢造成%{${baseAttack2}}% (%{(self.resource.AttackPower+((self.resource.Level-1)*${attackPowerPerLevel}))*0.3})点伤害\n

-等级:%{self.resource.Level} \n
-生命值: %{${core.maxHp} + self.resource.MaxHp + ((self.resource.Level-1) * ${hpPerLevel})} (%{self.resource.HPRegen + ((self.resource.Level-1) * ${regenPerLevel})}/秒)\n 
-魔力值: %{self.resource.MaxMana + ${core.energyMax} + (self.resource.Level-1)*${manaPerLevel}} (%{self.resource.ManaRegen + ((self.resource.Level-1) * ${manaRegenPerLevel})}/秒)\n 
-防御力: %{${core.armour} + self.resource.Defence + ((self.resource.Level-1)*${defencePerLevel})}\n 
-攻击强度: %{self.resource.AttackPower + ((self.resource.Level-1)*${attackPowerPerLevel})}\n 
-攻击速度: %{(self.resource.AttackSpeed + ((self.resource.Level-1)*${attackSpeedPerLevel}) + self.resource.passive * ${passiveAttackSpeed})*100}%\n 
-攻击吸血: %{self.resource.LifeSteal*100}%\n
-技能强度: %{self.resource.SkillPower}\n 
-技能急速: %{self.resource.SkillHaste}\n 
-技能吸血: %{self.resource.SkillVamp*100}%\n
-暴击率: %{self.resource.CriticalChance*100}%\n 
-暴击伤害: %{self.resource.CriticalPower*100}%\n 
-移动速度: %{self.resource.MovementSpeed * select(self.resource.skill3Activate==1, 1.60, 1)}\n
"""


#---Skill 1---
[action_skill1Description]
text_zh:紫晶箭矢
description_zh:发射一个触碰到单位时会爆炸的魔法箭, 造成%{${baseDamage1}}-%{${baseDamage1} + ${levelDamage1} * 16} (+%{${multiplierBasicAttack1}*100}% 攻击强度) (+%{${multiplierSkillPower1}*100}% 技能强度)点范围伤害并击退敌人. \n每有100点技能强度，紫晶箭矢的飞行距离将增加25%\n -冷却时间: ${cd1}秒 \n-魔力消耗: ${mana1}

[action_skill1]
text_zh:紫晶箭矢(%{int(select(memory.skillCD1>0, memory.skillCD1+1, 0))})
description_zh:发射一个触碰到单位时会爆炸的魔法箭, 造成%{${baseDamage1} + ${levelDamage1} * (self.resource.Level-2)} (+%{${multiplierBasicAttack1} * (self.resource.AttackPower + (self.resource.Level-1) * ${attackPowerPerLevel})}) (+%{${multiplierSkillPower1} * self.resource.SkillPower})点范围伤害并击退敌人. \n每有100点技能强度，水晶箭矢的飞行距离将增加25% \n-冷却时间: %{self.resource.skill1CDCount}秒 \n-魔力消耗: %{${mana1} - ${manaLevel1}*(self.resource.Level-2)}


#---Skill 2---
[action_skill2Description]
text_zh:精准赋能
description_zh:强化自身的普通攻击, 提升20%的射程并普通攻击的伤害提升%{${baseBuff2}}-%{${baseBuff2} + ${levelBuff2} * 15} (+%{${multiplierSkillPower2}*100}% 技能强度)点 \n效果持续5秒\n -冷却时间: ${cd2}秒 \n-魔力消耗: ${mana2}

[action_skill2]
text_zh:精准赋能(%{int(select(memory.skillCD2>0, memory.skillCD2+1, 0))})
description_zh:强化自身的普通攻击, 提升20%的射程并普通攻击的伤害提升%{${baseBuff2} + ${levelBuff2} * (self.resource.Level-3)} (+%{${multiplierSkillPower2} * self.resource.SkillPower})点 \n效果持续5秒 \n-冷却时间: %{self.resource.skill2CDCount}秒 \n-魔力消耗: %{${mana2} - ${manaLevel2}*(self.resource.Level-3)}


#---Skill 3---
[action_skill3Description]
text_zh:紫晶面纱
description_zh:遁入虚空2秒，期间无法被选中且免疫所有伤害。在此期间，获得60%的移动速度, 并能够穿越任何地形, 同时持续恢复%{${baseBuff3}}-%{${baseBuff3} + ${levelBuff3} * 12} (+${multiplierSkillPower3*100}% 技能强度)点生命值\n离开虚空后, 紫晶弓手的被动将达到满层 \n-冷却时间: ${cd3}秒 \n-魔力消耗: ${mana3}

[action_skill3]
text_zh:紫晶面纱(%{int(select(memory.skillCD3>0, memory.skillCD3+1, 0))})
description_zh:遁入虚空2秒，期间无法被选中且免疫所有伤害。在此期间，获得60%的移动速度, 并能够穿越任何地形, 同时持续恢复%{${baseBuff3} + ${levelBuff3} * (self.resource.Level-6)} (+%{${multiplierSkillPower3} * self.resource.SkillPower})点生命值\n离开虚空后, 紫晶弓手的被动将达到满层 \n-冷却时间: %{self.resource.skill3CDCount}秒 \n-魔力消耗: %{${mana3} - ${manaLevel3}*(self.resource.Level-6)}



#--------------Russian Localization--------------
[core]
displayText_ru: Аметистовый Лучник
displayDescription_ru: Лучник из Бездны

#--------------Attack & Skills--------------
[action_basicAttack]
text_ru: Обычная атака
description_ru:"""
Наносит %{${baseAttack1}}% (%{self.resource.AttackPower + ((self.resource.Level-1)*${attackPowerPerLevel}) }) урона. Каждая атака увеличивает скорость атаки на 8% (макс. 5 стаков). При полных стаках выпускает дополнительную стрелу, наносящую %{${baseAttack2}}% (%{(self.resource.AttackPower+((self.resource.Level-1)*${attackPowerPerLevel}))*0.3}) урона\n

-Уровень: %{self.resource.Level} \n
-Здоровье: %{${core.maxHp} + self.resource.MaxHp + ((self.resource.Level-1) * ${hpPerLevel})} (%{self.resource.HPRegen + ((self.resource.Level-1) * ${regenPerLevel})}/сек)\n
-Мана: %{self.resource.MaxMana + ${core.energyMax} + (self.resource.Level-1)*${manaPerLevel}} (%{self.resource.ManaRegen + ((self.resource.Level-1) * ${manaRegenPerLevel})}/сек)\n
-Защита: %{${core.armour} + self.resource.Defence + ((self.resource.Level-1)*${defencePerLevel})}\n
-Сила атаки: %{self.resource.AttackPower + ((self.resource.Level-1)*${attackPowerPerLevel})}\n
-Скорость атаки: %{(self.resource.AttackSpeed + ((self.resource.Level-1)*${attackSpeedPerLevel}) + self.resource.passive * ${passiveAttackSpeed})*100}%\n
-Вампиризм атаки: %{self.resource.LifeSteal*100}%\n
-Сила умений: %{self.resource.SkillPower}\n
-Скорость умений: %{self.resource.SkillHaste}\n
-Вампиризм умений: %{self.resource.SkillVamp*100}%\n
-Шанс крита: %{self.resource.CriticalChance*100}%\n
-Урон крита: %{self.resource.CriticalPower*100}%\n
-Скорость передвижения: %{self.resource.MovementSpeed * select(self.resource.skill3Activate==1, 1.60, 1)}\n
"""

#---Skill 1---
[action_skill1Description]
text_ru: Аметистовая стрела
description_ru: Выпускает магическую стрелу, которая взрывается при контакте, нанося %{${baseDamage1}}-%{${baseDamage1} + ${levelDamage1} * 16} (+%{${multiplierBasicAttack1}*100}% силы атаки) (+%{${multiplierSkillPower1}*100}% силы умений) урона в радиусе и отталкивает врагов.\nКаждые 100 силы умений увеличивают дальность полёта на 25%\n -Перезарядка: ${cd1} сек \n-Расход маны: ${mana1}

[action_skill1]
text_ru: Аметистовая стрела(%{int(select(memory.skillCD1>0, memory.skillCD1+1, 0))})
description_ru: Выпускает магическую стрелу, которая взрывается при контакте, нанося %{${baseDamage1} + ${levelDamage1} * (self.resource.Level-2)} (+%{${multiplierBasicAttack1} * (self.resource.AttackPower + (self.resource.Level-1) * ${attackPowerPerLevel})}) (+%{${multiplierSkillPower1} * self.resource.SkillPower}) урона в радиусе и отталкивает врагов.\nКаждые 100 силы умений увеличивают дальность на 25% \n-Перезарядка: %{self.resource.skill1CDCount} сек \n-Расход маны: %{${mana1} - ${manaLevel1}*(self.resource.Level-2)}

#---Skill 2---
[action_skill2Description]
text_ru: Точная фокусировка
description_ru: Усиливает обычные атаки: увеличивает дальность на 20% и добавляет %{${baseBuff2}}-%{${baseBuff2} + ${levelBuff2} * 15} (+%{${multiplierSkillPower2}*100}% силы умений) урона.\nДействует 5 секунд\n -Перезарядка: ${cd2} сек \n-Расход маны: ${mana2}

[action_skill2]
text_ru: Точная фокусировка(%{int(select(memory.skillCD2>0, memory.skillCD2+1, 0))})
description_ru: Усиливает обычные атаки: увеличивает дальность на 20% и добавляет %{${baseBuff2} + ${levelBuff2} * (self.resource.Level-3)} (+%{${multiplierSkillPower2} * self.resource.SkillPower}) урона.\nДействует 5 секунд \n-Перезарядка: %{self.resource.skill2CDCount} сек \n-Расход маны: %{${mana2} - ${manaLevel2}*(self.resource.Level-3)}

#---Skill 3---
[action_skill3Description]
text_ru: Аметистовая пелена
description_ru: Телепортируется в Бездну на 2 сек, становясь неуязвимым. Получает +60% к скорости и способность преодолевать препятствия, постепенно восстанавливая %{${baseBuff3}}-%{${baseBuff3} + ${levelBuff3} * 12} (+${multiplierSkillPower3*100}% силы умений) здоровья.\nПосле возвращения мгновенно активирует максимальные стаки пассивных эффектов\n -Перезарядка: ${cd3} сек \n-Расход маны: ${mana3}

[action_skill3]
text_ru: Аметистовая пелена(%{int(select(memory.skillCD3>0, memory.skillCD3+1, 0))})
description_ru: Телепортируется в Бездну на 2 сек, становясь неуязвимым. Получает +60% к скорости и способность преодолевать препятствия, постепенно восстанавливая %{${baseBuff3} + ${levelBuff3} * (self.resource.Level-6)} (+%{${multiplierSkillPower3} * self.resource.SkillPower}) здоровья.\nПосле возвращения активирует максимальные стаки пассивки\n -Перезарядка: %{self.resource.skill3CDCount} сек \n-Расход маны: %{${mana3} - ${manaLevel3}*(self.resource.Level-6)}