
[core]
displayText_zh:狂战士之怒
displayDescription_zh:+40攻击强度 \n+20%暴击率 \n\n-----唯一被动-----\n嗜血:获得10%的攻击吸血


[core]
displayText_ru: Ярость берсерка
displayDescription_ru: +40 к силе атаки \n+20% к шансу крита \n\n-----Уникальный пассив-----\nКровавая жажда: +10% вампиризма атаки
