
[core]
displayText_zh:灾厄之剑
displayDescription_zh: +90攻击强度 \n\n-----唯一被动-----\n毁灭:从装备获得的攻击强度提升30%



[core]
displayText_ru: Меч Рока
displayDescription_ru: +90 к силе атаки \n\n-----Уникальный пассив-----\nРазрушение: Бонус силы атаки от снаряжения увеличен на 30%
