
[core]
displayText_zh:神圣长枪
displayDescription_zh: +50攻击强度\n+30%暴击率 \n\n-----唯一被动-----\n制裁: 暴击伤害提升40%



[core]
displayText_ru: Божественное копьё
displayDescription_ru: +50 к силе атаки\n+30% к шансу крита \n\n-----Уникальный пассив-----\nВозмездие: Урон от критических ударов увеличен на 40%
