
[core]
displayText_zh:天堂之羽
displayDescription_zh:+20攻击强度\n +45%攻击速度\n+15移动速度\n\n-----唯一被动-----\n鹰眼: 增加普通攻击范围15%



[core]
displayText_ru: Перо небес
displayDescription_ru: +20 к силе атаки\n +45% к скорости атаки\n+15 к скорости передвижения\n\n-----Уникальный пассив-----\nОрлиный глаз: Увеличивает дальность обычных атак на 15%
