
[core]
displayText_zh:烈焰熔牙
displayDescription_zh:+55攻击强度 \n+20移动速度\n\n-----唯一被动-----\n破裂: 普通攻击对低护甲的单位造成更高伤害



[core]
displayText_ru: Пламенный клык
displayDescription_ru: +55 к силе атаки \n+20 к скорости передвижения\n\n-----Уникальный пассив-----\nРаскалывание: Обычные атаки наносят повышенный урон целям с низкой защитой
