
[core]
displayText_zh:夜火十字弩
displayDescription_ru:+60攻击强度 \n+15%攻击速度 \n\n-----唯一被动-----\n破甲箭:普通攻击对高护甲单位造成更高伤害


[core]
displayText_ru: Арбалет ночного пламени
displayDescription_ru: +60 к силе атаки \n+15% к скорости атаки \n\n-----Уникальный пассив-----\nБронебойные стрелы: Обычные атаки наносят повышенный урон целям с высокой защитой

