
[core]
displayText_zh:木制魔杖
displayDescription_zh: +20技能强度 \n+5移动速度


[action_upgrade]
text_zh:神秘魔杖
description_zh:+45技能强度 \n+10移动速度 \n+3%技能吸血

[action_upgrade2]
text_zh:钢尖魔杖
description_zh:+60技能强度 \n+5移动速度



[core]
displayText_ru: Деревянный посох
displayDescription_ru: +20 к силе умений \n+5 к скорости передвижения


[action_upgrade]
text_ru: Мистический посох
description_ru: +45 к силе умений \n+10 к скорости передвижения \n+3% вампиризма умений


[action_upgrade2]
text_ru: Стальной жезл
description_ru: +60 к силе умений \n+5 к скорости передвижения

