[core]
displayText_zh: 请选择你的阵营
displayText_ru: Выберите расу

[action_AllVanilla]
text_zh: 原版阵容
description_zh: 潜力无限

[action_AllStarcraft]
text_zh: 星际争霸
description_zh: 高科技

[action_AllRedAlert2]
text_zh: 红色警戒2
description_zh: 黑科技

[action_Moba]
text_zh: Moba
description_zh: 单枪匹马\n阵营完善度：95%，汉化程度：95%

[action_cancel]
text_zh: 取消


[action_VanilliaMachines]
text_zh: 机械
description_zh: 原版单位，能做出灭世级的巨型兵器\n阵营完善度：60%，汉化程度：90%

[action_VanillaBugs]
text_zh: 虫子
description_zh: 原版虫子，能够无限成长\n阵营完善度：90%，汉化程度：1%

[action_Protoss]
text_zh: 星灵
description_zh: 星灵拥有强壮的单位，但造价也更为昂贵。星灵单位和建筑装有防护性的能量护盾。\n除了星灵枢纽外，所有建筑均需在水晶塔的周围召唤。\n阵营完善度：90%，汉化程度：0%

text_ru: Протоссы
description_ru: Каждый юнит и каждое строение протоссов\n оборудованы щитом. Юниты очень эффективны, но\n дороги. Все строения, кроме Нексуса, вызываются в\n пределах энергетического поля пилона. Если пилон\n уничтожат, то строение останется без энергии и\n не будет функционировать


[action_Terran]
text_zh: 人族
description_zh: 人族的混合部队让人族有能力适应任何情况。人族学会了用各种神奇的方式来适应战场。\n比如人族的建筑物可以升空并飞往不同的地区。\n阵营完善度：95%，汉化程度：0%

text_ru: Терраны
description_ru: Юниты очень эффективны. Это объясняется тем,\n что все они атакуют на расстоянии,\n имея относительно невысокое количество здоровья. Только\n терраны могут перемещать здания: многие сооружения\n могут подниматься в воздух и медленно перелетать\n на новое место. Войска терранов сравнительно\n хрупки, хотя и имеют сильную атаку.\n Без предварительной подготовки они легко уничтожаются\n более дешёвыми войсками противника


[action_Zerg]
text_zh: 异虫
description_zh: 异虫的单兵作战能力也许不如其他种族，但胜在数量多。异虫地面单位可以学习潜地能力。\n异虫基地会散布菌毯，建筑需要在菌毯上才能被建造。\n阵营完善度：80%，汉化程度：0%

text_ru: Зерги
description_ru: Зерги не используют технику и опираются\n на биологические технологии. Их псионические способности\n существенно уступают способностям протоссов, но зерги\n успешно компенсируют недостатки большим количеством особей.\n Они могут быстро создавать большие армии


[action_Allied]
text_zh: 盟军
description_zh: 盟军部队受过良好训练，并配备有先进武器。盟军拥有光棱、超时空、天气控制等高科技。\n且盟军拥有相对强力的空军优势。\n阵营完善度：95%，汉化程度：100%

[action_Soviet]
text_zh: 苏联
description_zh: 苏联以重武器、自杀性武器和污染性武器为主战特色。苏联拥有磁能科技和核子科技。\n且苏联拥有相对强力的地面装甲优势。\n阵营完善度：95%，汉化程度：100%

[action_NightBorne]
text_zh: 夜之子
description_zh: 掌握暗影之力的魔剑士，能过有效的对群体敌人造成伤害
text_ru: Ночное чадо
description_ru: Магический мечник, владеющий силой теней — способен эффективно поражать группы врагов

[action_AmethystArcher]
text_zh: 紫晶弓手
description_zh: 使用紫水晶作战的魔弓手，可以在远处对单体敌人造成巨额伤害
text_ru: Аметистовый Лучник
description_ru: Магический стрелок с аметистовым луком — наносит колоссальный урон одиночным целям на большой дистанции

[action_NecroMancer]
text_zh: 死灵法师
description_zh: 与死者签订契约的法师，拥有召唤生物协助作战的能力
text_ru: Некромант
description_ru: Заключивший договор с мертвыми маг — обладает способностью призывать потусторонних существ для поддержки