
[hiddenAction_撞击]
autoTrigger: if (self.hasActiveWaypoint(type='move') or self.hasActiveWaypoint(type='touchTarget')) and (numberOfUnitsInEnemyTeam(withTag='被碾压', greaterThan=0, withinRange=50) or numberOfUnitsInAggressiveTeam(withTag='被碾压', greaterThan=0, withinRange=50)) and not self.tags(includes='撞击')
temporarilyAddTags: 撞击
#showMessageToAllPlayers: 触发


[hiddenAction_撞击2]
autoTrigger: if ((not self.hasActiveWaypoint(type='move') and not self.hasActiveWaypoint(type='touchTarget')) or (not numberOfUnitsInEnemyTeam(withTag='被碾压', greaterThan=0, withinRange=50) and not numberOfUnitsInAggressiveTeam(withTag='被碾压', greaterThan=0, withinRange=50))) and self.tags(includes='撞击')
temporarilyRemoveTags: 撞击
#showMessageToAllPlayers: 触发2


[hiddenAction_Ai自动碾压] 
autoTrigger: if self.isControlledByAI() and numberOfUnitsInEnemyTeam(withTag='被碾压', greaterThan=0, withinRange=${turret_1.limitingRange}) and not numberOfUnitsInEnemyTeam(withTag='装甲', greaterThan=0, withinRange=160) and not numberOfUnitsInEnemyTeam(withTag='建筑', greaterThan=0, withinRange=250) and self.hp(greaterThan=${core.maxHp*0.25}) and not self.hasActiveWaypoint(type='touchTarget') and not self.hasActiveWaypoint(type='move') and not self.hasActiveWaypoint(type='attack')
addWaypoint_type: touchTarget
addWaypoint_prepend: true
addWaypoint_target_nearestUnit_tagged: 被碾压
addWaypoint_target_nearestUnit_team: enemy
addWaypoint_target_mapMustBeReachable: true


[hiddenAction_Ai自动碾压2]
autoTrigger: if self.isControlledByAI() and numberOfUnitsInAggressiveTeam(withTag='被碾压', greaterThan=0, withinRange=${turret_1.limitingRange}) and not numberOfUnitsInEnemyTeam(withTag='装甲', greaterThan=0, withinRange=160) and not numberOfUnitsInEnemyTeam(withTag='建筑', greaterThan=0, withinRange=250) and self.hp(greaterThan=${core.maxHp*0.25}) and not self.hasActiveWaypoint(type='touchTarget') and not self.hasActiveWaypoint(type='move') and not self.hasActiveWaypoint(type='attack')
@copyFromSection: hiddenAction_Ai自动碾压
addWaypoint_target_nearestUnit_tagged: 被碾压


[hiddenAction_Ai自动碾压消] 
autoTrigger: if self.isControlledByAI() and self.hasActiveWaypoint(type='touchTarget') and (numberOfUnitsInEnemyTeam(withTag='装甲', greaterThan=0, withinRange=${turret_1.limitingRange}) or numberOfUnitsInEnemyTeam(withTag='建筑', greaterThan=0, withinRange=250) or not self.hp(greaterThan=${core.maxHp*0.25}) or self.hasActiveWaypoint(type='move') or self.hasActiveWaypoint(type='attack'))
clearActiveWaypoint: true


[hiddenAction_Ai自动碾压移] 
autoTriggerOnEvent: touchTargetSuccess
addWaypoint_type: move
addWaypoint_prepend: true
addWaypoint_position_offsetFromSelf: 0,50
addWaypoint_position_randomOffsetFromSelf: 50,50
addWaypoint_target_mapMustBeReachable: true