
[core]
displayText_zh:精通法典
displayDescription_zh:+30技能强度 \n+15技能急速

[action_upgrade]
text_zh:秘法宝典
description_zh:+40技能强度 \n+40技能急速 \n\n-----唯一被动-----\n超载: 降低全技能1秒冷却 (在技能急速后计算)


[core]
displayText_ru: Кодекс мастерства
displayDescription_ru: +30 к силе умений \n+15 к скорости умений

[action_upgrade]
text_ru: Кодекс Арканы
description_ru: +40 к силе умений \n+40 к скорости умений \n\n-----Уникальный пассив-----\nПерегрузка: Снижает время перезарядки всех умений на 1 сек (после учёта скорости умений)
