
[core]
displayText_zh:钢尖魔杖
displayDescription_zh:+60技能强度 \n+5移动速度

[action_upgrade]
text_zh:科技奥术权杖
description_zh:+100技能强度\n+5移动速度 \n\n-----唯一被动-----\n量子冲击: 技能对高护甲单位的伤害提升



[core]
displayText_ru: Стальной жезл
displayDescription_ru: +60 к силе умений \n+5 к скорости передвижения

[action_upgrade]
text_ru: Техно-арканический скипетр
description_ru: +100 к силе умений\n+5 к скорости передвижения \n\n-----Уникальный пассив-----\nКвантовый удар: Умения наносят повышенный урон целям с высокой защитой